<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>About Us | Chatbot Inc.</title>
      <meta name="author" content="Jerry Chen">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
   <body>
      <img action="/home" class="logo" src="images/chatbot_inc_logo.png" alt="Chatbot Inc. Logo" class="logo">
      <p class="header1">CHATBOT INC.</p>
      <p class="subheader1">Giving you a virtual buddy since the 2019-2020 COVID-19 pandemic!</p>
      <div class="topnav-container">
         <div class="topnav">
            <a action="/home" class="wasactive" href="home">Home</a>
            <a action="/product_features" href="product_features">Product Features</a>
            <a action="/about_us" href="about_us">About Us</a>
            <a action="/pricing" href="pricing">Pricing</a>
            <a action="/sign_up" href="sign_up">Sign Up</a>
         </div>
      </div>

      <img src="images/about_us_pgimg.png" alt="Chatbot Inc. About Us" style="width:1400px;padding-top:100px">

      <p class="footer">©2020 by Chatbot Inc. Proudly created with HTML and CSS.</p>
   </body>
</html>
