<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Pricing | Chatbot Inc.</title>
      <meta name="author" content="Jerry Chen">
      <link rel="stylesheet" type="text/css" href="styles.css">
   </head>
   <body>
      <img action="/home" class="logo" src="chatbot_inc_logo.png" alt="Chatbot Inc. Logo" class="logo">
      <p class="header1">CHATBOT INC.</p>
      <p class="subheader1">Giving you a virtual buddy since the 2019-2020 COVID-19 pandemic!</p>
      <div class="topnav-container">
         <div class="topnav">
            <a action="/home" class="wasactive" href="home">Home</a>
            <a action="/product_features" href="product_features">Product Features</a>
            <a action="/about_us" href="about_us">About Us</a>
            <a action="/pricing" href="pricing">Pricing</a>
            <a action="/sign_up" href="sign_up">Sign Up</a>
         </div>
      </div>

      <div class="container" style="text-align:center;border:10px;">
         <div class="box1">
            <div class="price">
               <h4> Basic </h4>
               <h1>$5</h1>
               <h6>Get a chatbot that answers basic queries</h6>
               <button>I want this!</button>
            </div>
            <div class="description">
               <h6>Basic text recognition</h6>
               <h6>Answers Queries</h6>
               <h6>Directs you to what you are looking for</h6>
            </div>
         </div>
         <div class="box2">
            <div class="price">
               <h4> Advanced </h4>
               <h1>$10</h1>
               <h6>This guy is up for having a conversation</h6>
               <button>I want this!</button>
            </div>
            <div class="description">
               <h6>Basic text recognition</h6>
               <h6>Answers Queries</h6>
               <h6>Directs you to what you are looking for</h6>
               <h6>Can engage in a conversation</h6>
               <h6>Willing to discuss common non-political internet topics in a civil and sensitive manner</h6>
            </div>
         </div>
         <div class="box3">
            <div class="price">
               <h4> Pro </h4>
               <h1>$15</h1>
               <h6>He (or she!) has got quite the personality.</h6>
               <button>I want this!</button>
            </div>
            <div class="description">
               <h6>Basic text recognition</h6>
               <h6>Answers Queries</h6>
               <h6>Directs you to what you are looking for</h6>
               <h6>Can engage in a conversation</h6>
               <h6>Willing to discuss common non-political internet topics in a civil and sensitive manner</h6>
               <h6>Mirrors the personality of the user</h6>
               <h6>Has a friendly sense of humor and tells jokes upon recognizing user receptiveness.</h6>
            </div>
         </div>
      </div>
      <p style="text-align:center;"> *Note: prices are monthly.</p>
      <footer class = "foot"> <p>©2020 by Chatbot Inc. Proudly created with HTML and CSS.</p> </footer>
   </body>
</html>
