<!DOCTYPE html>
<html>
   <head>
      <title>Product Features | Chatbot Inc.</title>
      <link rel="stylesheet" href="styles.css">
   </head>
   <body>
      <img action="/home" class="logo" src="chatbot_inc_logo.png" alt="Chatbot Inc. Logo" class="logo">
      <p class="header1">CHATBOT INC.</p>
      <p class="subheader1">Giving you a virtual buddy since the 2019-2020 COVID-19 pandemic!</p>
      <div class="topnav-container">
         <div class="topnav">
            <a action="/home" class="wasactive" href="#home">Home</a>
            <a action="/product_features" href="#productfeatures">Product Features</a>
            <a action="/about_us" href="#about">About Us</a>
            <a action="/pricing" href="#pricing">Pricing</a>
            <a action="/sign_up" href="#signup">Sign Up</a>
         </div>
      </div>

      <p class="header1" style="margin-top:40px;"> Features </p>
      <ul style="text-align:center;">
        <li>Answer basic questions</li>
        <li>Answer advanced topic questions</li>
        <li>List example questions to the users (some functionalities and questions users can ask)</li>
        <li>Build classifiers</li>
        <li>Hands-off searching version of piazza like Siri, but more interactive</li>
        <li>Send out emails to subscribers about a topic.</li>
        <li>Quick access to FAQs, syllabus, and other files and information</li>
        <li>Have random fun conversations</li>
        <li>Turn materials into flash card features to aid with studying</li>
      </ul>
      <p class="footer">©2020 by Chatbot Inc. Proudly created with HTML and CSS.</p>
   </body>
</html>
